$box-color: #f44336;
$box-focused-outline-color: #2196f3;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  .box {
    align-items: center;
    background-color: lighten($box-color, 25);
    box-sizing: border-box;
    border: 0.25rem solid black;
    display: flex;
    font-size: 1.25rem;
    height: 5rem;
    justify-content: center;
    margin: 0.75rem;
    outline: none;
    padding: 1.75rem;
    width: 5rem;

    &:focus {
      background-color: $box-color;
      border: none;
      outline: 0.25rem solid $box-focused-outline-color;
    }
  }
}
